## 복습

In [1]:
count = 1

while count < 11:
    print('호출!')
    count += 1 #이게 없으면 무한 반복이된다.

호출!
호출!
호출!
호출!
호출!
호출!
호출!
호출!
호출!
호출!

### 1부터 10까지 숫자를 출력하고 총합을 출력하시오.

In [11]:
sum = 0
num = 1
array = []
while num <= 10 :
    print (num, end = ' ') #끝을 enter가 아니라 ' '으로
    #array.append(num)
    sum += num
    num += 1
#print(array)
print('\n총합 : %d'%sum)

1 2 3 4 5 6 7 8 9 10
총합 : 55

In [2]:
sum = 0
num = 1
while True :
    if num <= 10 :
        print (num, end = ' ')
        sum += num
        num += 1
    else :
        break
        
print('\n총합 : %d'%sum)

1 2 3 4 5 6 7 8 9 10
총합 : 55

# 반복문 : for

In [10]:
for i in range(0, 10, 2) :
    print('%d 호출!'%i)

0 호출!
2 호출!
4 호출!
6 호출!
8 호출!

In [13]:
for i in range(96, 52, -1) :
    print(i, end = ' ')

96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53

In [14]:
for i in range(21, 58, 2) :
    print(i, end = ' ')

21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57

In [17]:
for i in range(21, 58) :
    if i%2 == 1 :
        print(i, end = ' ')

21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57

In [19]:
num = int(input('정수입력 : '))
for i in range (1, num+1) :
    print(i, end = ' ')

정수입력 : 11
1 2 3 4 5 6 7 8 9 10 11

In [22]:
array = [1, 2, 3, 4, 5]

print(array[0])
print(array[1])
print(array[2])
print(array[3])
print(array[4])

1
2
3
4
5

In [25]:
for index in range(5) :
    print(array[index])
    
for index in range(4, -1, -1) :
    print(array[index])

for index in range(0, 5, 2) :
    print(array[index])

1
2
3
4
5
5
4
3
2
1
1
3
5

In [26]:
array = [1, 2, 3, 4, 5]
for number in array :
    print(number, end=' ')

1 2 3 4 5

In [35]:
a = [[1, 2],[3, 4],[5, 6]]

print('a리스트의 길이 : %d'%(len(a)))

for i, j in a :
    print('%d + %d = %d'%(i, j, (i+j)))

a리스트의 길이 : 3
1 + 2 = 3
3 + 4 = 7
5 + 6 = 11

In [44]:
array = [90, 25, 67, 45, 80]
count = 0
for i in array :
    count += 1
    if i >= 60 :
        print('%d번 학생은 합격입니다.'%count)
    else :
        print('%d번 학생은 불합격입니다.'%count)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [46]:
array2 = [90, 25, 67, 45, 80]
for index in range(len(array2)) :
    if array2[index] >= 60 :
        print('%d번 학생은 합격입니다.'%(index+1))
    else :
        print('%d번 학생은 불합격입니다.'%(index+1))

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

# 딕셔너리

In [76]:
dic = {"name":"sy", "age":99, "gender":"woman"}
print(dic)
print('이름 : '+dic['name'])
print('나이 : %d'%dic['age'])
print('나이 : '+str(dic['age']))
print('성별 : '+dic['gender'])


#딕셔너리에 데이터 추가
dic['phone'] = '062-000-0000'
print('번호 : '+dic['phone'])

dic['email'] = 'jja@gmail.com'
print('메일 : '+dic['email'])

#딕셔너리에서 요소 삭제
del dic['phone']
print(dic)

#딕셔너리 전체 삭제
print(dic)
dic.clear()
print(dic)

{'name': 'sy', 'age': 99, 'gender': 'woman'}
이름 : sy
나이 : 99
나이 : 99
성별 : woman
번호 : 062-000-0000
메일 : jja@gmail.com
{'name': 'sy', 'age': 99, 'gender': 'woman', 'email': 'jja@gmail.com'}
{'name': 'sy', 'age': 99, 'gender': 'woman', 'email': 'jja@gmail.com'}
{}

In [75]:
dic = {"name":"sy", "age":99, "gender":"woman"}
#딕셔너리 안에 키값 확인
print('name' in dic)

True

# 함수

In [2]:
def show():
    print('함수호출!')

In [3]:
show()
int(2)
float(2.5)
str(5)

함수호출!

'5'

In [5]:
int(2.5)

2

In [15]:
def sum(num1, num2):
    #print(num1+num2)
    return num1+num2

def avg():
    return (sum(50, 65))/2

In [16]:
total = sum(50, 65)
print('두 과목의 합: %d'%total)
print('평균 %d'%avg())

두 과목의 합: 115
평균 57

In [18]:
def powerN():
    base = int(input('Base 입력 : '))
    n = int(input('N 입력 : '))
    return base**n
result = powerN()
print('결과 확인 : %d'%result)

Base 입력 : 2
N 입력 : 3
결과 확인 : 8

In [22]:
def powerN(base, n):
    return base**n

In [28]:
base = int(input('Base 입력 : '))
n = int(input('N 입력 : '))

result = powerN(base, n) #powerN() 호출
print('결과 확인 : %d'%result)

Base 입력 : 5
N 입력 : 456
결과 확인 : 5374300886053671001432772471160181703656337759490422924923640120776236400870326477361818887475162494088500784322141128806175675579326831304175390927953746128545914430661060716046861838142665804400346051881230600155954877043233642928710487766112222208509540321944071930262404172308488004006221672170795500278472900390625

In [26]:
powerN(2, 5)

32